.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.modal__content {
  padding:20px;
  border-radius: 12px;
  background-color: white;
  /*height: 300px;*/
  /*width: 400px;*/
  transform: scale(0.5);
  transition: 0.4s all;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal__content.active {
  transform: scale(1);
}

button {
  color: #fe5f1e;
  margin-left: 20px;
  border-radius: 20px;
  font-weight: bold;
  padding: 8px 25px;
  text-align: center;
  font-size: 18px ;
  cursor: pointer;
  border: 1px solid transparent;
  transition: background-color 0.2s ease-in-out;
  background-color: #f9f9f9;
}

button:disabled {
  opacity: 0.5
}

button:hover {
   background-color: #fe5f1e;
  color: white;
}

input {
  width: 250px;
}
