@import '../variables';

.categories {
  ul {
    display: flex;


    li {
      background-color: #f9f9f9;
      padding: 10px 20px;
      border-radius: 30px;
      margin-right: 20px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;
      @include noselect();

      &:hover {
        background-color: darken(#f9f9f9, 5%);
      }

      &:active {
        background-color: darken(#f9f9f9, 7%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }
}

 @media (max-width: 930px) {
   .categories {
     ul {
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       gap: 10px;
     }
   }
 }

@media (max-width: 597px) {
  .categories {
    ul {
      margin-right: 10px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 3px;
    }
  }
}

@media (max-width: 455px) {
  .categories {
    ul {
      margin-right: 10px;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 4px;
      margin-top: 20px;
    }
  }
}
