.root {
  position: relative;
  left: -80px;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 20px;
  padding-left: 42px;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  font-size: 16px;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
}

.icon {
  width: 20px;
  height: 20px;
  opacity: 0.3;
  position: absolute;
  left: 14px;
  top: 10px;
}

.clearIcon {
  width: 15px;
  height: 15px;
  opacity: 0.3;
  position: absolute;
  right: 15px;
  top: 12px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}